{% extends 'shop/index.html' %}
{% block title %}Гараж - О компании{% endblock %}
{% block content %}
{% load static %}

<img src="{% static 'image/oformlenie.jpeg' %}" alt="зимний лес" ›



<div class="text_about">
 <h2>О компании</h2>
 <p>Компания ООО "Гараж" работает на рынке с 2010 года и за своей деятельности прочно завоевала доверие своих клиентов. Наша компания уже много лет держит лидирующие позиции на рынке запасных частей для автомобилей в Москве и Московской области.
  Мы активно работаем на рынке розничной продажию.
</p>
 <ul>
  <li>Мы не предлагаем нашим клиентам товар, которого нет в наличии.</li>
  <li>Мы не берем деньги за товар, а потом обещаем привести его.</li>
  <li>Весь предложенный товар есть в наличии.</li>
 </ul>
</div>

<div class="text_compony">
 <h2>Карточка организации</h2>
 <div class="text_inn">
  <p>Наименование юр.лица</p>
  <p>ИНН</p>
  <p>КПП</p>
  <p>ОГРН</p>
  <p>Юр.адрес</p>
 </div>
 <div class="text_ur">
  <p>Общество с органиченной ответственностью "ГАРАЖ"</p>
  <p>7700000000</p>
  <p>770000000</p>
  <p>1167000000000</p>
  <p>Российская Федерация, г. Москва</p>
 </div>

</div>


{% endblock %}