{% extends 'shop/index.html' %}
{% block title %}Гараж - главная страница{% endblock %}
{% block content %}

<div class="info_shop">
    <h3>Интернет-магазин автозапчастей ГАРАЖ.</h3>
    <p>
        В наших магазинах вы сможете найти широкий ассортимент запчастей,
        аксессуаров, масел и специальных жидкостей для автомобилей.
        Мы являемся представителями более 40 ведущих мировых фирм,
        производителей запчастей для автомобилей, которые поставляются
        непосредственно с наших складов, что позволяет выполнить ваш
        заказ в максимально короткое время. Большинство запчастей
        представлено несколькими «брендами», что позволит вам сделать
        оптимальный выбор. Приобрести запчасти можно за наличный и
        безналичный расчет, оптом или в розницу. Розничные покупатели
        могут воспользоваться нашими дисконтными картами. Оптовым
        покупателям предлагаются различные системы скидок.
        Если вы предпочитаете покупать запчасти непосредственно на месте, вы можете
        воспользоваться интернет-магазином для определения наличия
        необходимой вам запчасти, а квалифицированный персонал наших
        магазинов, расположенных в разных частях Москвы.
    </p>
</div>

{% endblock %}