{% extends 'shop/index.html' %}

{% block title %}Гараж - регистрация{% endblock %}
{% block content %}
    {% if form.errors %}
        <p>
            {% comment %} Ваше email и пароль не совпадают.
            Пожалуйста, попробуйте еще раз. {% endcomment %}
            {{form.errors}}
        </p>
    {% else %}
        <p>Пожалуйста, используйте следующую форму для регистрации:</p>
    {% endif %}


    <div class="register" style="margin-bottom: 20px;">
        <h1 class="text-center-register">Регистрация</h1>
        <div class="content-register">
            <form action="{% url 'register' %}" method="POST">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}/">
                <p><input type="submit" class="btn btn-success btn-block" value="Зарегистрироваться"></p>


            </form>

                <!--<input type="submit" class="btn btn-success btn-block" value="Зарегистрироваться">
            </form>-->
        </div>

    </div>

{% endblock %}
